<template>
  <p>
  <strong>{{ title }}</strong> (<a :href="code">code</a> / <a :href="docs">docs</a>): {{ description }}
  </p>
</template>

<script setup>
import { defineProps } from 'vue'

const { title } = defineProps(['title', 'docs', 'code', 'description'])
</script>
